section.contact {
    box-sizing: border-box;
    background: linear-gradient(90deg, $bg-color ($dot-space - $dot-size), transparent 1%) center, linear-gradient($bg-color ($dot-space - $dot-size), transparent 1%) center, $dot-color;
    background-size: $dot-space $dot-space;
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    transition: all ease-in-out .28s;
    z-index: 99;
    padding: 50px;
    position: relative;
    //  background: url(../img/phone.jpeg) no-repeat center center;
    // -webkit-background-size: cover;
    // -moz-background-size: cover;
    // -o-background-size: cover;
    // background-size: cover;
    // opacity:.2;
    // display: flex;
    // flex-direction:column;
    // align-items: center;
    h1 {
        color: #133F72;
        font-size: 110px;
        font-weight: bold;
        text-transform: uppercase;
        margin-left: 230px;
        position: absolute;
        left: 30%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    p {
        font-size: 10px;
        font-weight: 300;
        color: #000;
        transform: translate(50%, -50%);
    }
    .contacts {
        position: absolute;
        right: 250px;
        top: 10%;
        p {
            font-size: 30px;
            color: #123F72;
        }
    }
    .address {
        position: absolute;
        right: 200px;
        top: 70%;
        p {
            font-size: 30px;
            color: #123F72;
        }
    }
}

@include break-point(tablet-landscape) {}

@include break-point(tablet-portrait) {}

@include break-point(mobile) {
    section.contact {
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        transition: all ease-in-out .28s;
        z-index: 99;
        padding: 100px;
        position: relative;
        h1 {
            font-size: 23px;
            margin-left: 0;
            position: absolute;
            left: 50%;
            top: 20%;
            transform: translate(-50%, -50%);
        }
        .contacts {
            position: relative;
            right: 50%;
            top: 15%;
            // background: #dedede;
            p {
                text-align: left;
                background: #dedede;
                font-size: 15px;
                line-height: 30px;
                font-weight: 500;
                color: #123F72;
            }
        }
        .address {
            position: relative;
            right: 50%;
            top: 75%;
            // background: #dedede;
            p {
                text-align: left;
                background: #dedede;
                font-size: 15px;
                line-height: 30px;
                font-weight: 500;
            }
        }
    }
}