// font weights
$font-family: 'Gotham',
sans-serif;
$font-weight-thin: 100;
$font-weight-light: 300;
$font-weight-book: normal;
$font-weight-medium: 500;
$font-weight-bold: bold;
// color palette
$white: #ffffff;
$title-wrap-bottom-border:#c21111;
$title-wrap-button:#c21111;
//logo
$logo-circle-background: rgb(170, 0, 11);
$logo-circle-dark-background: rgb(139, 1, 20);
//typo
$header-one: #787878;
$header-two: #a3a3a3;
$rate-wrap:#c9c9c9;
//label ellipse
$label-bg: #f1f1f1;
$label-color: #888888;
$label-border:#be0000;
$label-active:#be0000;
//textarea
$textarea-bg:#f8f8f8;
$textarea-border:#ebebeb;
$textarea-color:#d1d1d1;
$placeholder-color:#c5c5c5;
//expired
$icon-color: #c90000;
$btn-color: #be0000;
$warning-box-bg: #f4ac0d;
$bg:#fdfdfd;
//footer Box
$footer-box-bg:rgba(194, 17, 17, .10);
$footer-box-border: #c90000;
$footer-box-border-hover:rgb(199, 0, 0);
$box-shadow:rgba(0, 0, 0, 0.15);
$footer-small: rgb(104, 8, 25);
//
// Colors
$bg-color: #dedede;
$dot-color: #3DB1F7;
$bg-color-in: #123E72;
$dot-color-in: #F54508;
// Dimensions
$dot-size: 3px;
$dot-space: 22px;